---
export interface Props{
    href:string,
    text:string,
}
const {href, text} = Astro.props
---
<li>
    <a href={href} class="duration-300 font-medium ease-linear hover:text-primary py-3">
    {text}
    </a>
</li>