---
export interface Props{
    className?:string
    isSmallText?:boolean
}

const {className, isSmallText} = Astro.props
---

<p class={` ${isSmallText ? "text-sm" : "md:text-lg"} text-heading-3 ${className} `}>
    <slot/>
</p>