---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Вы в компании доверенных партнёров
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/Yandex Cloud.png" width="100" height="60" alt="автоматизация процессов с yandex" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/vk.png" width="100" height="60" alt="vk cloud автоматизация" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/сбер.jpg" width="100" height="60" alt="сбер ии" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/1с.png" width="100" height="60" alt="1с автоматизация " class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/NormaCS.png" width="100" height="60" alt="автоматизация процессов" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/public/logos/sk_logo.png" width="100" height="60" alt="резиденты сколково" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/microchip.png" width="150" height="100" alt="микрочипы ии" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/intelai.png" width="100" height="60" alt="slack" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/openvino.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/tensorflow2.png" width="200" height="60" alt="spotify" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/keras.png" width="100" height="60" alt="разработка искусственного интеллекта" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/dl4j.png" width="100" height="60" alt="paypal" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
        </div>
    </Container>
</section>