---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Sustainable Development Goals</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/goals1.png"
          width="130"
          height="130"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/goals2.png"
          width="152"
          height="152"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/goals3.png"
          width="110"
          height="110"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/goals4.png"
          width="131"
          height="131"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/goals5.png"
          width="112"
          height="112"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/paypallogo.png"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/spotify.png"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/slack.png"
          width="100"
          height="60"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/paypallogo.png"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/spotify.png"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/slack.png"
          width="100"
          height="60"
          alt="slack"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/logos/paypallogo.png"
          width="100"
          height="60"
          alt="paypal"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div> -->
    </div>
  </Container>
</section>
