---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                What we offer
            </Title>
            <Paragraph>
                 We believe in harnessing the power of modern technologies to create exceptional web experiences. Our developers are experts in React, a popular JavaScript library, known for its efficiency, scalability, and flexibility. We also leverage the full potential of AWS (Amazon Web Services) to develop robust, secure, and highly scalable web applications. Additionally, we embrace the serverless architecture, which enables rapid development, effortless scalability, and cost optimization.
                 </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            <Service title="Agile SaaS Development" description="Embrace the power of agility with our SaaS development services. Our experienced team follows the Agile methodology to build feature-rich and scalable SaaS solutions quickly and efficiently. From concept to deployment, we prioritize collaboration and adaptability to ensure your SaaS product meets market demands and evolves alongside your business.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="AWS Cloud Integration" description="Leverage the full potential of the cloud with our AWS integration expertise. We seamlessly migrate your existing infrastructure or develop new cloud-native applications to AWS. By harnessing the scalability, reliability, and security of Amazon Web Services, your SaaS platform will deliver exceptional performance and meet the demands of a growing user base.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="Scalability and Performance Optimization" description="Prepare your SaaS platform for success with our focus on scalability and performance optimization. We design your applications with scalability in mind, ensuring they handle increasing workloads without compromising on speed or efficiency. Our continuous monitoring and optimization efforts guarantee a seamless user experience, even during peak usage">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="UI/UX Design" description="Our user-centric approach ensures intuitive and responsive designs that align with your target audience's needs. From wireframing and prototyping to seamless brand integration and conversion-driven UI, we focus on creating memorable and accessible experiences. With continuous design iteration and post-launch support, we deliver UI/UX solutions that drive business growth and user satisfaction. Collaborate with us to unlock the power of exceptional user experiences for your SaaS product. Contact us today to discuss your UI/UX design requirements!">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="API Development and Integration" description="Unlock the potential of your SaaS product with well-designed APIs. We develop robust and secure APIs that enable seamless integration with other systems, empowering you to expand your reach and provide additional value to your users. Whether it's integrating with third-party services or facilitating internal data exchange, we've got you covered.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
            <Service title="DevOps and Continuous Deployment" description="Accelerate your development cycles and reduce time-to-market with our DevOps expertise. By automating deployment, testing, and monitoring processes, we ensure a continuous and reliable delivery pipeline. Stay ahead of the competition and iterate faster to keep your SaaS product up-to-date and ahead of evolving market demands.">
                <span slot="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                    </svg> 
                </span>
            </Service>
        </div>
    </Container>
</section>