---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import HowItWorks from '../components/sections/HowItWorks.astro';
import CTA from '../components/sections/CTA.astro';
import OurWork from "../components/sections/OurWork.astro";
---

<Layout title="Welcome Hinterland Web">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		
		<Services/>
		<OurWork/>
		<AboutUs/>
		<HowItWorks/>
		<CTA/>
	</main>
</Layout>