---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Home"
    },
    {
        href:"#services",
        text:"Services"
    },
    {
        href:"#about-us",
        text:"About us"
    },
    {
        href:"#howitworks",
        text:"How it Works"
    },
]
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
    <Container>
        <nav class="w-full flex justify- gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <div class="inline-flex text-xl font-semibold  text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">
                        Hinterland Web
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-b border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 pb-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-6 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>

             
            </div>


            <div class="min-w-max flex items-center gap-x-3">
                <button data-switch-theme class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:flex hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                      </svg>
                                    
                    <span class="sr-only">switch theme</span>
                </button>
                
                <button data-toggle-nav data-open-nav="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>
</header>
<!-- <script>
    document.querySelector('[data-switch-theme]')?.addEventListener('click', function() {
  const lightLogo = document.getElementById('light-theme-logo');
  const darkLogo = document.getElementById('dark-theme-logo');

  if (document.body.classList.contains('dark')) {
    // If the current theme is dark, switch to light
    document.body.classList.remove('dark');
    lightLogo?.classList.remove('hidden');
    darkLogo?.classList.add('hidden');
  } else {
    // If the current theme is light, switch to dark
    document.body.classList.add('dark');
    lightLogo?.classList.add('hidden');
    darkLogo?.classList.remove('hidden');
  }
});
</script> -->



